body{
    font-family: 'Work Sans' sans-serif;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.header{  
    background-color: #F3C6BD;
    padding: 44px 0 58px;    
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    margin-right: 15px;
}

.logo_title{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo_text{
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.header_nav{
    margin-left: 441px;
}

.header_ul{
    margin-right: 77px;
}

.header_link{
    font-size: 18px;
    line-height: 25px; 
    color: rgba(43, 41, 45, 1);
    text-decoration: none;
}

.header_li:not(:last-of-type){
    margin-right: 50px;
    
}

.header_link:hover{
    font-weight: 700;
    color: #2B292D;
}

.button{
    width: 160px;
    height: 48px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    font-size: 18px;
    line-height: 13px;
    font-weight: 700;
    color: #FFFFFF;
    border: none;
    border-radius: 2px;
}

.button:hover{
    cursor: pointer;
    transition: 1s;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #274afa;
}

.description{
    background: #F4F5F7;
    padding: 77px 0 130px;
}

.description_content{
    max-width: 555px;
}

.description_question{
    font-weight: 700;
}

.description_text{
    font-size: 22px;
    line-height: 32px;
    text-align: left;
    color: #2B292D;
}

.logos{
    background: #FFFFFF;
    padding: 30px 0 117px;
}


.inbox{
    background: #FCF0E3;
    padding: 117px 116px;
}

.inbox_description{
    max-width: 461px;
    text-align: left;
    margin: 0 auto;
}

.communicate{
    padding: 110px 0 105px;
}

.button_communicate{
    margin-top: 39px;
}

.communicate_description{
    max-width: 340px;
    padding-right: 20px;
    box-sizing: border-box;
}

.communicate_container{
    margin-top: 129px;
}

.bold{
    font-weight: bold;
}

.communicate_text{
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
    margin-bottom: 15px;
}

.communicate_content{
    color: rgba(48, 64, 196, 1);
    font-weight: bold;
}

.audience{
    background: rgba(0, 161, 198, 0.1);
    padding: 108px 0 110px;
}

.audience_description{
    max-width: 555px;
    text-align: center;   
}

.info_subtitle{
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: #2B292D;
    margin-bottom: 24px;
}
.subtitle_red{
    color: #F1592B;
}

.subtitle_blue{
    color: #0189D1;
}

.info_title{
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    margin-bottom: 30px;
}

.info_text{
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
}

.response{
    margin-top: 44px;
    background-color: #FFFFFF;
    max-width: 519px;
    padding: 30px 30px 28px;

}

.response_text{
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
}

.response_profile{
    justify-content: start;
    margin-top: 26px;

}

.img_profile{
    margin-right: 11px;
}

.img_communicate{
    margin-left: 193px;
}

.profile{
    max-width: 225px;
    
}

.name{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #2B292D;
}

.position{
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}

.audience_buttons{
    display: flex;
    justify-content: center;
    margin: 34px 0 111px;
    
}
.audience_button{
    background-color: white;
    color: #000000;
    margin-left: 10px;
}

.audience_button:hover{
    cursor: pointer;
}

.audience_grid{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}

.surface_description{
    max-width: 554px;
    margin: 0 auto;
   text-align: center;
}
.surface_title{
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    color: #000000;
    margin-bottom: 26px;
}

.surface_text{
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color:  #172342;; 
}

.surface_grid{
    margin-top: 89px;
    display: grid;
    gap: 45px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.item:nth-child(3), .item:nth-child(4){
    grid-row: span 2;
}