.container{
    max-width: 1300px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.header{
    margin: 53px 0 52px 0;
   
}

.nav_ul{
    text-align: center;
      
}

.nav_li{
    display: inline-block;
}

.nav_li:not(:last-of-type){
    margin-right: 47px;
}

.nav_link{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.bg_title{
    background-image: url(./img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 138px 0 180px 0;
    text-align: center;
}

.title{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 14px;
}

.title_button{
    box-sizing: border-box;
    width: 420px;
    height: 70px;  
    border: none;
    background: #FFFFFF;
    border-radius: 5px;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #162C38;
    font-family: 'Open Sans';   
}

.title_text{
    width: 1300px;
    height: 500px;
    background-color:#5C98AB;   
    padding: 133px 0 134px 0;
    box-sizing: border-box;
}

.text{
    width: 726px;
    margin: 0 auto;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #FFFFFF;
}

.description_kvadrat{
    max-width: 696px;
    position: relative; 
}

.kvadrat_text{  
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    margin: 250px 0 216px 0;
}

.kvadrat{
    position: absolute;
    width: 178px;
    height: 121px;
    background-color: #BFDEFB; 
}

.kvad_1{
    top: -121px;
    left: -364px;
}

.kvad_2{
    bottom: 0;
    left: -364px;
}

.kvad_3{
    top: 20px;
    right: -364px;
}

.circle_text{
    position: relative;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 123px;
}

.circle_text::before{
    content: '';
    position: absolute;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background: #5C98AB;
    top: -58px;
    left: -29px;
}

.circle_text::after{
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #BFDEFB;
    right: -130px;
    bottom: -65px;
    
}

.forma{
   margin-bottom: 729px;
   text-align: center;
}

.form_name{
    position: relative;
    margin-bottom: 41px;
}

.input{
    width: 647px;
    height: 96px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 36px 0 11px 34px;
    box-sizing: border-box;
    
}

.label{
    position: absolute;
    top: 14px;
    left: 361px;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #000;
}

.input::placeholder{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: #000;
}

.button{
    width: 647px;
    height: 92px;
    background-color: #5C98AB;
    border: none;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
}






